.qz-navbar {
  min-height: 4em;
  background-color: var(--background-color-header);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: .5em 2em;
  overflow-x: hidden;
}

.qz-navbar__button {
  padding: 5px 15px;
  background: var(--border-color-1);
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: var(--text-primary-color);
}

.qz-navbar > section {
  display: flex;
  font-size: 16px;
  width: 100%;
}

section > span {
  margin: 10px;
}

@media (max-width: 767px) {
  .qz-navbar {
    flex-direction: column;
  }

  .qz-navbar__button {
    margin: .5em .1em;
  }

  .qz-navbar > section {
    flex-direction: column;
    font-size: 14px;
  }

  section > span {
    margin: .5em .1em;
  }
}
