:root {
  --background-color-header: #F3F4F6;
  --background-color-main: #FFFFFF;
  --background-color-input: #FFFFFF;
  --background-card-color: #FFFFFF;
  --text-primary: #2c2c2c;
  --border-color-main: #e8e8e8;
  /*  */

  --text-secondary: royalblue;
  --accent: purple;
  --color-bg: #f0f0f0;
  --color-text: #994cc3;
  --color-primary: #ef5350;
  --color-secondary: #0c969b;
  --color-header-bg: rgba(255, 255, 255, 0.9);
  --color-neon-fill: #ef5350;
  --color-neon-glow: none;
}

[data-theme='dark'] {
  --background-color-header: #374151;
  --background-color-main: rgb(35 39 47 / .8);
  --background-color-input: #99A1B3;
  --background-card-color: #6f7882d6;
  --text-primary: #2c2c2c;
  --border-color-main: #a7a7a763;
  /*  */
  --text-secondary: grey;
  --accent: darkred;
}

html, body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
