:root {
  --background-color-header: #FCFDFE;
  --background-color-main: #FFFFFF;
  --background-color-input: #FFFFFF;
  --background-card-color: #FFFFFF;
  --text-primary-color: #2c2c2c;
  --border-color-main: #e8e8e8;
  --loader-color-border: #38978d;
  --border-color-1: #ccc;
}

[data-theme='dark'] {
  --background-color-header: #374151;
  --background-color-main: rgb(35 39 47 / .8);
  --background-color-input: #f7f7f7;
  --background-card-color: #bccde06b;
  --text-primary-color: #080d0e;
  --border-color-main: #a7a7a763;
  --loader-color-border: #38978d;
  --border-color-1: #ccc;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
